.product-slider {
	.content {
		padding-block: 4rem;
		position: relative;

		&::before {
			bottom: 0;
			content: "";
			left: 5rem;
			position: absolute;
			top: 0;
			max-width: 700px;
			width: 70%;
			z-index: -1;
		}

		&.bg-light-yellow {
			&::before {
				background-color: rgba($color-tertiary, 0.25);
			}
		}

		&.bg-light-blue {
			&::before {
				background-color: rgba($color-secondary, 0.25);
			}
		}

		&.bg-light-green {
			&::before {
				background-color: rgba($color-primary, 0.25);
			}
		}

		&.bg-light-red {
			&::before {
				background-color: rgba($color-quaternary, 0.25);
			}
		}
	}

	.title {
		margin-block: 0 2rem;
	}
}
