.product-slider {
	.content {
		padding-block: 4rem;
		padding-left: 2rem;
		position: relative;

		&::before {
			background-color: rgba($color-tertiary, 0.1);
			bottom: -2rem;
			content: "";
			left: -1rem;
			position: absolute;
			top: -2rem;
			width: 500px;
			z-index: -1;
		}
	}

	.title {
		margin-block: 0 2rem;
	}

	overflow: hidden;
}
