body {
	&::before {
		background: linear-gradient(
				0deg,
				rgba(255, 255, 255, 1) 0%,
				rgba(255, 255, 255, 1) 10%,
				rgba(255, 255, 255, 0) 100%
			),
			$color-gradient;
		content: "";
		position: absolute;
		height: 1000px;
		inset: 0 0 auto;
		z-index: -1;
	}
}
