a {
	color: $color-link;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.top-bar {
	background-color: rgba($color-white, 0.6);
	padding-inline: $padding-inline;
	padding-block: 0.5rem;

	.top-bar-content {
		display: flex;
		justify-content: space-between;

		.top-bar-right {
			display: none;

			@include large {
				display: block;
			}
		}

		p {
			font-size: $font-size-body-small;
			margin: 0;
		}
	}
}

input {
	background-color: white;
	border: 2px solid rgba($color-secondary, 0.3);
	border-radius: $border-radius;
	padding: 0.5rem 1rem;

	&::placeholder {
		color: rgba($color-secondary, 0.6);
	}

	&:focus {
		border: 2px solid $color-secondary;
		outline: none;
	}
}

input[type="submit"],
.button {
	@include animated-underline;
	background-color: transparent;
	border-color: $color-primary;
	color: $color-primary;

	&:hover {
		background-color: rgba($color-primary, 0.1);
	}
}

.pretitle {
	color: $color-primary;
	font-size: $font-size-body-small;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-align: center;
	text-transform: uppercase;
}

.product-slide {
	display: flex;
	gap: 1rem;
	overflow-wrap: anywhere;

	@include large {
		gap: 1.5rem;
	}

	&:hover {
		.product-title {
			text-decoration: underline;
			text-decoration-color: $color-primary;
			text-underline-offset: 2px;
		}
	}

	.product-image {
		box-shadow: $boxshadow-md;
		width: 40%;
	}

	.product-info {
		display: flex;
		gap: 0.5rem;
		flex-direction: column;
		justify-content: center;

		.product-title {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			max-height: 64px;
			-webkit-line-clamp: 3;
			margin: 0;
			overflow: hidden;
			width: 100%;
		}

		.product-price {
			margin: 0;
		}
	}
}

.swiper-arrows {
	bottom: auto;
	display: flex;
	gap: 1rem;
	margin-top: 3rem;

	.swiper-button-prev,
	.swiper-button-next {
		height: auto;
		inset: auto;
		margin: 0;
		position: relative;

		&::after {
			color: $color-black;
			font-size: 1.25rem;
		}
	}
}
