#site-footer {
	.footer-columns {
		margin-top: $spacing-block;
		padding-inline: $padding-inline;

		.footer-columns-container {
			display: grid;
			grid-template-columns: 1fr;

			@include medium {
				grid-template-columns: repeat(2, 1fr);
			}

			@include large {
				grid-template-columns: repeat(4, 1fr);
			}

			.footer-column {
				.menu {
					list-style: none;
					margin: 0;
					padding: 0;
				}
			}
		}
	}

	.copyright {
		background-color: $color-grey-light;
		margin-top: 2rem;;
		padding-block: 0.75rem;
		padding-inline: $padding-inline;

		.copyright-title {
			font-size: $font-size-body-small;
		}
	}
}
