section {
	margin-block: $spacing-block;
	padding-inline: $padding-inline;
	position: relative;

	@include large {
		margin-block: $spacing-block-lg;
	}

	&.has-background {
		margin-block: 0;
		padding-block: $spacing-block;
	}

	&:first-child {
		margin-top: 0;
	}
}

.container {
	margin-inline: auto;
	max-width: $container-max-width;
}

.container-large {
	margin-inline: auto;
	max-width: $container-large-max-width;
}
