@mixin medium {
	// 640 px
	@media (min-width: 40rem) {
		@content;
	}
}

@mixin large {
	// 1024 px
	@media (min-width: 64rem) {
		@content;
	}
}

@mixin xlarge {
	// 1440 px
	@media (min-width: 90rem) {
		@content;
	}
}

@mixin animated-underline($color: $color-primary) {
	transition: text-decoration-color 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
	text-decoration-color: transparent;
	text-underline-offset: 2px;

	&:hover {
		text-decoration: underline;
		text-decoration-color: $color;
	}
}
