$padding-inline: 1.25rem;
$spacing-block: 4rem;

$color-primary: #179f6f;
$color-secondary: #273aa7;
$color-black: #222;
$color-white: #fff;
$color-grey-light: #eee;

$color-link: $color-secondary;

$z-index-high: 99;

$container-max-width: 1200px;
$container-large-max-width: 1400px;
